.navbar{
    background-color: #CCD5AE;
}
.nav-link{
    color: #E9EDC9;
    font-weight: bold;
    font-size: 25px;
}
.nav-link:hover,
.nav-link:focus{
    color: FEFAE0;
}
.nav-link.active{
    color: #FEFAE0;
}
.menu-icon{
    font-size: 40px;
    color: white;
}

.navbar-toggler:focus{
    box-shadow: 0px 0px 0px 0px !important;
}