.navbar{
    background-color: #ca4153;
}
.nav-link{
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
}
.nav-link:hover,
.nav-link:focus{
    color: black;
}
.nav-link.active{
    color: black;
}
.menu-icon{
    font-size: 40px;
    color: white;
}