
.product-image{
    height: 320px;
    border-radius: 30px;
}
.card{
    border: 1px solid #ca4153;
    border-radius: 30px;
}
.btn{
    background-color: #ca4153;
    font-weight: bold;
}
.btn:hover{
    background-color: white;
}
a.btn:hover{
    color: #ca4153;
}
a.btn {
    color: white;
}
