
.product-image{
    height: 320px;
    border-radius: 30px;
}
.card{
    border: 1px solid #CCD5AE;
    border-radius: 30px;
}
.btn{
    background-color: #FEFAE0;
    font-weight: bold;
}
.btn:hover{
    background-color: #D4A373;
}
a.btn:hover{
    color: #FEFAE0;
}
a.btn {
   color: #D4A373 
}

.product-details{
    border-radius: 30px;
    background-color: #CCD5AE;
}

