.card{
    border: 1px solid #CCD5AE;
    border-radius: 30px;
    background-color: #FEFAE0;

}
.btn{
    background-color: #FAEDCD;
    font-weight: bold;
}
.btn:hover{
    background-color: #D4A373;
}
a.btn:hover{
    color: #FEFAE0;
}
a.btn {
   color: #D4A373 
}


