.card{
    border: 1px solid #ca4153;
    border-radius: 30px;
}
.btn{
    background-color: #ca4153;
}
.btn:hover{
    background-color: white;
}
a.btn:hover{
    color: #ca4153;
}
a.btn {
    color: white;
}
span{
    color: #ca4153;
    font-size: 18px;
}
.card__text{
    font-size: 20px;
    font-weight: bold;
}
.card__title{
    font-weight: bold;
    font-size: 28px;
}
