<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12" *ngFor="let item of orderDetails">
        <div class="mt-2">
          <app-order-card [order]="item"></app-order-card>
          <div class="row">
            <div class="col-sm-12 col-md-6" *ngFor="let data of item.cart.item">
              <div class="card mb-2">
                <p class="card__title">
                  <span>اسم المنتج:</span>
                  {{ data.product_details?.name }}
                </p>

                <p class="card-text card__text">
                  <span>الحجم :</span>
                  {{ data.product?.name }}
                </p>
                <p class="card-text card__text">
                  <span>الحاله:</span>
                  {{ data.alive_delivery_form ? "حي" : "مذبوح " }}
                </p>

                <p class="card-text card__text">
                  <span>السعر:</span>
                  {{ data.product?.price }}
                </p>

                <p class="card-text card__text">
                  <span>الكميه:</span>
                  {{ data.quantity }}
                </p>

                <div class="mb-2" *ngFor="let option of data.variants">
                  <p class="card-text card__text">
                    <span>{{ option.option_name?.name }}:</span>
                    {{ option.option_value.value }}
                  </p>
                </div>
                <p class="card-text card__text" *ngIf="data.beef_quantity != 0">
                  <span>كيلو مفروم :</span>
                  {{ data.beef_quantity }}
                </p>
                <p class="card-text card__text" *ngIf="data.fridge_status">
                  <span>طريقه التغليف:</span>
                  {{ data?.fridge_status }}
                </p>
              </div>
            </div>
            <p class="card-text card__text">
              <span>السعر الكلي:</span>
              {{ item.cart.total_amount }}
            </p>
            <hr />
          </div>
        </div>
      </div>
      <hr/>
    </div>
  </div>
</section>
